In [1]:
import pandas as pd

In [3]:
data = pd.read_excel("superstore 9998-1783 21-6.xlsx")

/Users/fis001/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
data

            Country    Category     Sales  Quantity  Discount    Profit
0     United States  Technology   907.152         6       0.2   90.7152
1     United States  Technology   911.424         4       0.2   68.3568
2     United States  Technology   213.480         3       0.2   16.0110
3     United States  Technology    90.570         3       0.0   11.7741
4     United States  Technology  1097.544         7       0.2  123.4737
...             ...         ...       ...       ...       ...       ...
1842  United States  Technology    97.980         2       0.0   27.4344
1843  United States  Technology    36.240         1       0.0   15.2208
1844  United States  Technology    79.990         1       0.0   28.7964
1845  United States  Technology   206.100         5       0.0   55.6470
1846  United States  Technology   258.576         2       0.2   19.3932

[1847 rows x 6 columns]